/*
Copyright(C)2016 A6178879

All rights reserved Arkema Pte. Ltd.(international.ic.corp.local)
Website Developed by: Eng'r Nolan F. Sunico
Date Created: Feb 18, 2016
Time Created: 11:03:20 AM
Module: custom
Project: Arkema-Eleave
Created on : Feb 18, 2016, 11:03:20 AM
Author     : A6178879
*/
.eleave-car {
    background-image: url("../images/512/office-set-16-66423.png");
    background-position: center center ;
    font-family: monospace;
    float: left;
    width: 36px;
    height: 36px;
    display: block;
}
.eleave-font{
   font-family: monospace;
   font-weight: bold;
   font-size: 16px;
}
.eleave-font-details{
   font-family: monospace;
   font-weight: bold;
   font-size: 14px;
   
}

.form-control:focus {
   /* background-color: #CFF */
}
.read-only{
   background-color: #eee
}
.leave-line{
   padding-top: 1px;
   padding-bottom: 1px;
   margin-bottom: 5px;
   margin-top: 5px;
}
input[type=checkbox] {
   visibility: hidden;
}
/*
 SQUARED THREE 
.squaredThree {
   width: 20px;	
   margin: 20px;
   position: relative;
}

.squaredThree label {
   cursor: pointer;
   position: relative;
   width: 20px;
   height: 20px;
   top: -10px!important;
   border-radius: 12px;

   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

   background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
   background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
   background: -o-linear-gradient(top, #222 0%, #45484d 100%);
   background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
   background: linear-gradient(top, #222 0%, #45484d 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   content: '';
   position: absolute;
   width: 12px;
   height: 5px;
   background: transparent;
   top: 6px;
   left: 4px;
   border: 3px solid #fcfff4;
   border-top: none;
   border-right: none;

   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.squaredThree label:hover::after {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=30);
   opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}*/
/* this is for Progress control ************************************************/
#leaveProgress{
   background-color: red;
   top:100px;left:10px;
   height:100%;
   width:100%;
   position: absolute
} 
.leave-progress-start{
   position: absolute; /* or absolute */
   width: 100%;
   height:100%;
   top: 90px;
   left: 0px;
   text-align: center;
   vertical-align: middle;
   cursor: not-allowed;
   z-index: 2000000;
}
.leave-progress{
   z-index: 2000000;
   display: none;
}
.leave-image{
  position: fixed;
  top: 40%;
  left: 50%;
  /*background-color: red;*/
}
.leave-hr{
   margin-top: 5px;
   margin-left: 0px;
   margin-bottom: 5px;
   height:1px;
   border-top: 1px solid #7f7f7f;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*.control-label{
   font-weight: normal!important
}*/
div.ui-datepicker{
 width: 100% !important;
}
.ui-datepicker .ui-datepicker-header {
    background: #32c5d2; 
}

/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {border-collapse: separate;}
.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */
/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #df5959; /* a color that fits the widget theme */
	color: white; /* a color that is readeable with the color above */
}
/* end: jQuery UI Datepicker emphasis on selected dates */
/******************************************************************************/
/* Badges */
.badge-danger {
  background-color: #d43f3a;
  color: #dd1111 !important
}

.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}
.profile-entry{
}
.status-yes{
  background-color: #3276b1;
}
.status-no{
  background-color: red!important;
}
/* Status of Eclaim Request *********************************/
.status-rejected-2 {
  /* This is a dummy CSS */
  background-color: red!important;
}
.status-rejected {
   background-color: red!important;
}
.status-current {
  background-color: #0004FF!important;
}
.status-pending {
  background-color: #337ab7!important;
}
.status-pending-cancel{
  background-color: #337ab7!important;
}
.status-approved {
  background-color: #398439!important;
}
.status-done-cancelled{
    background-color: #337ab7!important; 
}
.status-draft{
  background-color: #000000!important;
  color: #fff!important;
}
.status-rewrite{
  background-color: #000000!important;
  color: #fff!important;
}
.status-cancelled{
  background-color: #000000!important;
  color: #fff!important;
}
.status-cancel-entry{
  background-color: #642e02!important;
  color: #fff!important;
}
.status-validation{
  background-color:#5c2900!important;
  color: #fff!important;
}
.status-validated{
  background-color:#3276b1!important;
  color: white!important;
}
.status-acknowledge{
  background-color:#398439!important;
  color: white!important;
}
.status-acknowledge:after{
    content: 'For HR Acknowledgement'
}
.status-acknowledged{
  background-color:#337ab7!important;
  color: white!important;
}
.status-acknowledged:after{
    content: 'Approved'
}
.status-done-cancelled:after{
    content: 'Cancelled'
}
.status-rewrite:after{
  content: 'Draft-Rewrite'
}
.status-cancelled:after{
  content: 'Cancelled'
}
.status-validated:after{
  content: 'Validated'
}
.status-validation:after{
  content: 'For Validation'
}
.status-rejected:after{
  content: 'Rejected'
}
.status-approved:after{
  content: 'Approved'
}
.status-draft:after{
  content: 'DRAFT'
}
.status-pending:after{
  content: 'Pending'
}
.status-pending-cancel:after{
  content: 'Pending-Cancel'
}
.status-current:after{
  content: 'Current'
}
.status-cancel-entry:after{
  content: 'Cancelled'
}
/*li {
    display: block;
}

li:before {
    Using a Bootstrap glyphicon as the bullet point
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}*/
/*.form-group {
  margin-bottom: 5px;
}
.form-control{
   font-size: 12px;
}*/
.table-hand >tbody{
   cursor: pointer;
}
.header-dashboard{
   background-image: url('../images/dashboard.png');
   background-repeat: no-repeat;
   padding-left: 10px;
   padding-top: 1px;
   font-family: monospace;
   font-weight: bold;
   background-size: 350px 54px;
}
.header-eleave{
   background-image: url('../images/header.jpg');
   background-repeat: no-repeat;
   padding-left: 10px;
   padding-top: 1px;
   font-family: monospace;
   font-weight: bold;
   background-size: 450px 54px;
}
.header-eleave>h4{
   font-size: 16px;
}
.header-eleave>h4{
   color: white
}
.clickable-row.active>td{
   background-color: #666!important;
   color: white!important;
}
.application-header{
   font-family: monospace;
   margin-left: 12px;
   width: 135px;
   color:#337ab7;
   text-align: center;
   font-weight: bolder;
   font-size: 12px;
   top: 30px;
   position: absolute;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.leave-balance-details{
   left: 12px;
   margin-bottom: -20px;
   margin-top: 10px;
   padding-right: 38px;
   padding-bottom: 0px!important;
}
.expander{
   float: right;
   cursor: pointer
}
.divider-li{
    padding-bottom: 5px;
}
.approver-lookup{
    float: right;
    cursor: pointer;
    font-size: 14px
}
.approver-lookup:hover{
    color: brown
}
.table-disabled{
    cursor: not-allowed
}
#txtEmployeeSearch{
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#txtEmployeeSearch:focus{
    background-color: #CFF
}
.form .form-body, .portlet-form .form-body { padding: 20px 20px 0 20px}